/*opprydding*/
#leftwrap{
  display: none;
  visibility: hidden;
}
#rightwrap{
  display: none;
  visibility: hidden;
}
#midwrap{
  padding: 5px;
  margin: 5px;
}
#menu {
  position: absolute;
  left: 0px;
  top: 175px;
  border: solid white;
  border-bottom: none;
}

/*butikk*/
.butikkelement{
  width: 100%;
}

/*
.butikkhoyre{
  float: right;
}
.butikkvenstre{
  float: left;
}
*/
.butikkbilde{
  width: 100%;
}
/*generelt*/
.midImg {
  max-width:100%;
  max-height: auto;
  margin: 25px 0 0 0;
  padding: 0;
}

body {
  margin: 0 0 52px 0;
  width: 100%;
  position: relative;
  background-color: #1F0033;
}

div {
  padding: 0;
  margin: 0;
}

video  {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/*Hovedinnhold nyheter*/
#hovedinnhold{
  padding: 5px;
}

.hoyrebilde{
  float: right;
  margin: 10px;
  margin-right: 0px;
}

.venstrebilde{
  float: left;
  margin: 10px;
  margin-left: 0px;
}

/*tekst-stil*/
.bold {
  font-weight: bold;
}
.kursiv{
  font-style: italic;
}

.butikktekst{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin: 0;
}

.overskrift{
  font-family: "Modern No. 20", serif;
  font-size: 2em;
  margin: 0;
}

.brodtekst{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.innlegg {
  color: #FF9A02;
  margin-top: 50px;
}
/*tekst-stil slutt*/

/*logo og lys*/
#headerWrap {
  text-align: center;
}

#logo {
  display: inline-block;
  width: 240px;
  height: 203px;
  color: #848DFF;
  z-index: 1;
}

#lys1 {
  position: absolute;
  left: 0%;
  width: 240;
  height: auto;
  max-width: 25%;
}

#lys2 {
  position: absolute;
  left: 46%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}

#lys3 {
  position: absolute;
  right: 46%;
  z-index: 2;
}

#lys4 {
  position: absolute;
  right: 0%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 240;
  max-width: 25%;

}
/*slutt logo og lys*/

/* Dropdown Button */
.dropbtn {
    background-color: #331F00;
    color: #848DFF;
    padding: 9px;
    font-size: 12px;
    font-family: helvetica;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #FF9A02;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden by default */
.dropdown-content {
    display: none;
        position: absolute;
    background-color: #331F00;
    min-width: 70px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links */
.dropdown-content a {
    color: #848DFF;
    padding: 9px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: helvetica;
    width: inherit;
}

.dropdown-content a:hover {background-color: #FF9A02}

.show {display:block;}

/*end of dropdown menu*/

/*footerStil*/

#footer {
  text-align: center;
  overflow: hidden;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  background-color: #331F00;
}

#footer ul {
  align: center;
  margin: 0;
  padding: 0;
}

#footer li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  font-family: helvetica;
}

#footer a {
  float: left;
  display: block;
  background: #331F00;
  color: #848DFF;
  text-align: center;
  padding: 16px 14px;
  margin: 0;
}

#footer a:hover {
  background: #FF9A02;
  color: #848DFF;
}
/*footerStil*/
