/*butikk*/
.butikkelement{
  width: 47%;
}

.butikkhoyre{
  float: right;
}
.butikkvenstre{
  float: left;
}

.butikkbilde{
  width: 100%;
}

/*alt utenom index.html*/
.hoyrebilde{
  float: right;
  margin: 4px;
  margin-right: 0px;
  max-width: 70%;
}

.venstrebilde{
  float: left;
  margin: 8px;
  margin-left: 20px;
  max-width: 70%;
}

/*generelt*/
.bold {
  font-weight: bold;
}

.midImg {
  max-width:100%;
  max-height: auto;
  margin: 25px 0 0 0;
  padding: 0;
}

body {
  margin: 0 0 52px 0;
  width: 100%;
  position: relative;
  background-color: #1F0033;
}

div {
  padding: 0;
  margin: 0;
}

video  {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/*tekst-stil*/
.bold {
  font-weight: bold;
}
.kursiv{
  font-style: italic;
}

.overskrift{
  font-family: "Modern No. 20", serif;
  font-size: 2em;
  margin: 0;
}

.brodtekst{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.butikktekst{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin: 0;
}

.innlegg {
  color: #FF9A02;
  margin-top: 30px;
}
/*tekst-stil slutt*/

/*footerStil*/

#footer {
  position: absolute;
  visibility: hidden;
  width: 0;
  left: 0;
}
/*  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  background-color: #331F00;
  align: center;
}
/*
#footer ul {
  margin: 0;
  padding: 0;
}

#footer li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  font-family: helvetica;
}

#footer a {
  float: left;
  display: block;
  color: #848DFF;
  text-align: center;
  padding: 16px 14px;
  margin: 0;
}

#footer a:hover {
  background: #FF9A02;
  color: #848DFF;
}
/*footerStil*/

#headerWrap {
  text-align: center;

}

#logo {
  display: inline-block;
  width: 240px;
  height: 203px;
  color: #848DFF;
  z-index: 1;
}



/* Dropdown Button */
.dropbtn {
    background-color: #331F00;
    color: #848DFF;
    padding: 12px;
    font-size: 18px;
    font-family: helvetica;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #FF9A02;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden by default */
.dropdown-content {
    display: none;
        position: absolute;
    background-color: #331F00;
    min-width: 70px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links */
.dropdown-content a {
    color: #848DFF;
    padding: 9px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: helvetica;
    width: inherit;
}

.dropdown-content a:hover {background-color: #FF9A02}

.show {display:block;}

/*end of dropdown menu*/

/*1920, 1080 screensize*/
@media (min-width: 1281px) {

  #hovedinnhold {
    position: relative;
    margin-left: 8%;
    max-width: 90%;
    padding: 0;
  }

/*head*/
#lys1 {
  position: absolute;
  left: 0%;
  width: 240;
  height: auto;
  max-width: 25%;
}

#lys2 {
  position: absolute;
  left: 56%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}

#lys3 {
  position: absolute;
  right: 56%;
  z-index: 2;
}

#lys4 {
  position: absolute;
  right: 0%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 240;
  max-width: 25%;

}
/*end head*/


/*menyplassering*/
#menu {
  position: fixed;
  left: 0;
  top: 33%;
  border: solid white;
  border-bottom: none;
}


/*hovedside inndeling av innhold*/
#rightwrap {
  position: absolute;
  right: 15px;
  width: 20%;
  height: auto;
  margin-right: 10px;
}

#midwrap {
  position: absolute;
  left: 25%;
  width: 50%;
  height: auto;
}

#leftwrap img, audio {
  width: 100%;
  max-width: 300px;
}

#leftwrap {
  position: absolute;
  left: 6%;
  width: 16%;
  height: auto;
  z-index: 100;
}

.middle {
  position: absolute;
  display: inline-block;
}

.left {
  margin-top: 0;
  position: absolute;
  display: inline-block;
  z-index: 100;
}

.right {
  position: absolute;
  display: inline-block;
}
}
/*end screensize 1281+*/

/*1280, 720 screensize*/
@media (max-width: 1280px) and (min-width: 721px) {
  #hovedinnhold {
    position: relative;
    margin-left: 12%;
    max-width: 85%;
    padding: 0;
  }

/*lys og toppen*/
#lys1 {
  position: absolute;
  left: 0%;
  width: 240;
  height: auto;
  max-width: 25%;
}

#lys2 {
  position: absolute;
  left: 56%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}

#lys3 {
  position: absolute;
  right: 56%;
  z-index: 2;
}

#lys4 {
  position: absolute;
  right: 0%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 240;
  max-width: 25%;

}
/*end head*/


/*meny og hovedinnholds utforming og plassering*/
#menu {
  position: fixed;
  left: 0;
  top: 33%;
  border: solid white;
  border-bottom: none;
}

#rightwrap {
  position: absolute;
  right: 30px;
  width: 24%;
  height: auto;
  margin-right: 10px;
}

#midwrap {
  position: absolute;
  left: 14%;
  width: 54%;
  height: auto;
}

#leftwrap img, audio {
  width: 100%;
  max-width: 300px;
}

#leftwrap {
  visibility: hidden;
  position: absolute;
  left: 10%;
  width: 12%;
  height: auto;
  z-index: 100;
}

.middle {
  position: absolute;
  display: inline-block;
}

.left {
  margin-top: 0;
  position: absolute;
  display: inline-block;
  z-index: 100;
}

.right {
  position: absolute;
  display: inline-block;
}
}
/*end @media 1280

/*720, 370 screensize*/
@media (max-width: 720px) and (min-width:300px) {
  #hovedinnhold {
    position: relative;
    margin-left: 16%;
    max-width: 81%;
    padding: 0;
  }

/*lys og toppen*/
  #lys1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0%;
    width: 240;
    height: auto;
    max-width: 15%;
  }

  #lys2 {
    visibility: hidden;
    position: absolute;
    left: 56%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 2;
    max-width: 1px;
  }

  #lys3 {
    visibility: hidden;
    position: absolute;
    right: 56%;
    z-index: 2;
    max-width: 1px;
  }

  #lys4 {
    position: absolute;
    right: 0%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 240;
    max-width: 15%;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
  /*end head*/


  /*meny og hovedinnholds utforming og plassering*/
  #menu {
    position: fixed;
    left: 0;
    top: 33%;
    border: solid white;
    border-bottom: none;
  }

#rightwrap img, audio{
  width: 100%;
  max-width: 300px;
}

  #rightwrap {
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 0;
    height: auto;
    margin-right: 0;
  }

  #midwrap img, audio{
    width: 100%;
    max-width: 300px;
  }

  #midwrap {
    position: absolute;
    width: 30%;
    left: 60px;
    height: auto;
    text-align: center;
  }

  #leftwrap img, audio {
    width: 100%;
    max-width: 300px;
  }

  #leftwrap {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 0;
    height: auto;
    z-index: 100;
  }

  .middle {
    position: absolute;
    display: inline-block;
  }

  .left {
    margin-top: 0;
    position: absolute;
    display: inline-block;
    z-index: 100;
  }

  .right {
    position: absolute;
    display: inline-block;
  }
}
